<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Art</title>

  <link rel="stylesheet" href="/styles.css">
  <script src="/jquery.js"></script>
  <script src="/script.js"></script>

</head>


<body>
  <div class="snap">
    {{> topnav }}
    <section>
      <div class="artSubheader"></div>
    </section>

    <section>
      <div class="topic">
        <h1>Visual Arts</h1>
      </div>
    </section>

    <section>
      <div class="topic photography">
        <h1>Photography</h1>
        <div class="square-container gallery">
          {{#each photography }}
          <div class="square">
            <div class="galleryContent">
              <img decoding="async" loading="lazy" id="{{this.PostID}}" srcset="
        /file/a/{{ this.FileName }}_Default.jpg 2x,
        /file/a/{{ this.FileName }}_High.jpg 1.90x,
        /file/a/{{ this.FileName }}_MediumHigh.jpg 1.75x,
        /file/a/{{ this.FileName }}_Medium.jpg 1x,
        /file/a/{{ this.FileName }}_Low.jpg .25x
        " src="/file/a/{{ this.FileName }}_Low.jpg">
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </section>

    <section>
      <div class="topic">
        <h1>Video</h1>
      </div>
    </section>

    <div class="content">
      <ul>
        {{#each pictures }}
        <li>
          <!--<img decoding="async" loading="lazy" src="/{{ this }}">-->
        </li>
        {{/each}}
        <li></li>
      </ul>
    </div>

    {{> footer }}
  </div>
</body>

</html>