<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Gallery</title>
  <meta name="theme-color" content="#B5A691" />
  <meta name="description" content="Gallery with all artworks">

  <link rel="preload" href="/styles.css" as="style">
  <link rel="preload" href="/abel.ttf" as="font" type="font/ttf" crossorigin>

  <link rel="stylesheet" href="/styles.css">

</head>


<body>
  {{> topnav }}
  <div class="subheader">
    Gallery<br>ᐯ
  </div>

  <div class="content square-container">
    {{#each content }}
    <a href="/project/{{ this.ProjectID }}" class="square">
      <div class="galleryInfo">
        <h3>{{this.Project.Name}}</h3>
        {{#if this.Thumbnail}}
        <p>{{this.Project.Description}}</p>
        {{else}}
        <p>{{this.Description}}</p>
        {{/if}}
      </div>
      <picture class="galleryContent">
        <source srcset="/file/a/{{ this.FileName }}_SDefault.jpg 3840w,
                  /file/a/{{ this.FileName }}_SHigh.jpg 2880w,
                  /file/a/{{ this.FileName }}_SMediumHigh.jpg 1440w,
                  /file/a/{{ this.FileName }}_SMedium.jpg 1920w,
                  /file/a/{{ this.FileName }}_SLow.jpg 1080w">
        <img decoding="async" loading="lazy" id="{{this.ProjectID}}" src="/file/a/{{ this.FileName }}_SLow.jpg"
          alt="{{ this.Alt }}">
      </picture>
    </a>
    {{/each}}
  </div>

  {{> footer }}
</body>

</html>