<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#B5A691" />

  <title>Gallery</title>

  <link rel="stylesheet" href="/styles.css">
  <script src="/script.js"></script>

</head>


<body>
  {{> topnav }}
  <div class="subheader">
    Gallery<br>ᐯ
  </div>

  <div class="content square-container">
    {{#each content }}
    <a href="/project/{{ this.ID }}" class="square">
      <picture class="galleryContent">
        <source srcset="/file/a/{{ this.FileName }}_Default.jpg 3840w,
                  /file/a/{{ this.FileName }}_High.jpg 2880w,
                  /file/a/{{ this.FileName }}_MediumHigh.jpg 1440w,
                  /file/a/{{ this.FileName }}_Medium.jpg 1920w,
                  /file/a/{{ this.FileName }}_Low.jpg 1080w">
        <img decoding="async" loading="lazy" id="{{this.ID}}" id="{{this.PostID}}"
          src="/file/a/{{ this.FileName }}_Low.jpg" alt="{{ this.Name }}">
      </picture>
    </a>
    {{/each}}
  </div>

  {{> footer }}
</body>

</html>