<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Gallery</title>

  <link rel="stylesheet" href="/styles.css">
  <script src="/jquery.js"></script>
  <script src="/script.js"></script>

</head>


<body>
  {{> topnav }}
  <div class="subheader">
  </div>

  <div class="content square-container">
    {{#each content }}
    <div class="square">
      <div class="galleryContent">
        <img decoding="async" loading="lazy" id="{{this.ID}}" srcset="
        /file/a/{{ this.FileName }}_Default.jpg 2x,
        /file/a/{{ this.FileName }}_High.jpg 1.90x,
        /file/a/{{ this.FileName }}_MediumHigh.jpg 1.75x,
        /file/a/{{ this.FileName }}_Medium.jpg 1x,
        /file/a/{{ this.FileName }}_Low.jpg .25x
        " src="/file/a/{{ this.FileName }}_Low.jpg">
      </div>
    </div>
    {{/each}}
  </div>

  {{> footer }}
</body>

</html>