<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#B5A691" />

  <meta name="description" content="{{ project.Description }}">

  <title>{{ project.Name }}</title>

  <link rel="stylesheet" href="/styles.css">
  <link rel="font" href="/abel.tff">
  <script src="/script.js"></script>

</head>


<body>
  {{> topnav }}
  <div class="subheader" style="background-image: url('/file/a/{{project.FileName}}_MediumHigh.jpg');">
    <h1 class="projectH1 noselect">{{project.Name}}</h1>
  </div>
  <main class="content project">
    <h1>{{ project.Name }}</h1>
    {{#if project.Description }}
    {{ project.Description }}
    {{^}}
    No description provided.
    {{/if}}
    <div class="tags">
      {{#each tags }}
      <a class="tag noselect" href="/browse?tag={{this.TagID}}">{{ this.Name }}</a>
      {{/each}}
    </div>
  </main>
  {{> footer }}
</body>

</html>