<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Upload</title>

  <link rel="preload" href="/styles.css" as="style">
  <link rel="preload" href="/abel.ttf" as="font" type="font/ttf" crossorigin>

  <link rel="stylesheet" href="/styles.css">

</head>

<body>
  <main class="uploadLayout">
    <form class="contactForm" action="/project" method="POST" enctype="multipart/form-data">
      <h2>New project</h2>
      <div>
        <label>Name:</label>
        <input type="text" id="name" name="Name">
      </div>

      <div>
        <label>Image</label>
        <input type="file" name="Banner">
      </div>

      <div>
        <label>Description:</label>
        <textarea name="Description"></textarea>
      </div>

      <div>
        <label>Status:</label>
        <select name="Status">
          <option value="Unknown">Unknown</option>
          <option value="Abandoned">Abandoned</option>
          <option value="In_Progress">In progress</option>
          <option value="Finished">Finished</option>
        </select>
      </div>

      <div>
        <label>tag:</label>
        <select name="Tags" multiple>
          {{#each tags}}
          <option value={{ this.TagID }}>{{ this.Name }}</option>
          {{/each}}
        </select>
      </div>

      <div>
        <input type="submit" value="Submit!">
      </div>
    </form>

    <form class="contactForm" action="/content" method="POST" enctype="multipart/form-data">
      <h2>Add content</h2>
      <div>
        <label>Project</label>
        <select name="ID">
          {{#each projects}}
          <option value={{ this.ID }}>{{this.ID}} - {{ this.Name }}</option>
          {{/each}}
        </select>
      </div>

      <div>
        <label for="Image">Image</label>
        <input type="file" name="Image">
      </div>

      <div>
        <label>Description:</label>
        <textarea name="Description"></textarea>
      </div>

      <div>
        <label>Display in gallery?</label>
        <input type="checkbox" name="Display">
      </div>

      <div>
        <input type="submit" value="Submit!">
      </div>
    </form>

    <form class="contactForm" action="/delete" method="POST">
      <h2>Remove project</h2>
      <div>
        <label for="ID">Project</label>
        <select name="ID">
          {{#each projects}}
          <option value={{ this.ID }}>{{this.ID}} - {{ this.Name }}</option>
          {{/each}}
        </select>
      </div>

      <div>
        <input type="submit" value="Submit!">
      </div>
    </form>

  </main>
</body>
<style>
  body,
  html {
    background-color: rgb(68, 68, 68);
  }
</style>

</html>